@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

body * {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}

.calculator {
  width: 250px;
  height: 265px;
  background-color:rgb(240, 233, 195);
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
  font-size: 0;
}

.value {
  width: 100%;
  height: 40px;
  background-color: rgb(231, 210, 185);
  text-align: center;
}

.value > span {
  font-size: 33.5px;
}

input {
  width: calc(250px / 3);
  height: 45px;
  border: 1px solid rgb(231, 213, 213);
  cursor: pointer;
}

input:hover {
  background-color: bisque;
}

input:active {
  background-color: rgb(223, 163, 89);
}
